@import 'nib'

BACKGROUND-COLOR=#363A42
MAIN-TITLE-COLOR=#FFD966
TITLE-COLOR=#6DD0F2
ACCENT-COLOR=#F59ABE
ACCENT-COLOR-2=#EFF4F7
TEXT-COLOR=#DDDDDD

body
  background-color BACKGROUND-COLOR
  color TEXT-COLOR
  font-family "Monda", "Helvetica Neue", Helvetica, Arial, sans-serif

h1, h2, h3, h4, h5, h6
  font-family "Monda", "Helvetica Neue", Helvetica, Arial, sans-serif

h1
  font-size 36px

a
  color TITLE-COLOR

a.social
  color ACCENT-COLOR

a:hover
  text-decoration none
  color ACCENT-COLOR-2

.go-home a
  text-decoration none
  color MAIN-TITLE-COLOR

blockquote:before
  content "\f10d"
  font-family "FontAwesome"
  font-weight normal
  font-style normal
  display inline-block
  font-size 40px
  position absolute
  top 0
  left 0

blockquote
  border-left none
  position relative
  padding-top 15px
  padding-left 60px
  margin-left 30px
  font-style italic

:not(pre) > code
  color darken(TITLE-COLOR, 50%)

pre
  border-radius 4px
  background-color #282b2e // obsidian highlight.js theme color

#warning
  color ACCENT-COLOR

.social-list
  display table
  .social-row
    display table-row
    *
      display table-cell
      padding-right 5px

.about-description
  margin-top 15px
