body
  background-image url('../img/wild_oliva.png')
  color #DDD
  font-family "Monda", "Helvetica Neue", Helvetica, Arial, sans-serif

h1, h2, h3, h4, h5, h6
  font-family "Monda", "Helvetica Neue", Helvetica, Arial, sans-serif

h1
  font-size 36px

a
  color #CE66E3

a:hover
  text-decoration none
  color #D1008C

.go-home a
  text-decoration none
  color #23D100