body {
  background-image: url('../img/wild_oliva.png');
  color: #DDD;
}

a {
  color: #CE66E3;
}

a:hover {
  text-decoration: none;
  color: #D1008C;
}

.go-home a {
  text-decoration: none;
  color: #23D100;
}