html
  head
    title About
    link(href="http://fonts.googleapis.com/css?family=Monda" rel="stylesheet" type="text/css")
    meta(name="google-site-verification" content="L2NbBTVyRM2n5O1ucEPUDwBBK3nbxBUSFA9OoKaXizk")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="https://use.fontawesome.com/4841760321.js")
    link(rel="stylesheet" href="styles/app.css")


  body
    .container
      .row
        .col-md-12
          h1.go-home
            a(href="/") aaron haurwitz
      .row
        .col-md-12
          .social-list
            a.social.social-row(href="https://twitter.com/ahaurw01")
              i.fa.fa-twitter(aria-hidden="true")
              span @ahaurw01

            a.social.social-row(href="https://github.com/ahaurw01")
              i.fa.fa-github(aria-hidden="true")
              span @ahaurw01

            a.social.social-row(href="https://www.instagram.com/ahaurw01/")
              i.fa.fa-instagram(aria-hidden="true")
              span @ahaurw01

            a.social.social-row(href="http://steamcommunity.com/profiles/76561197999404711")
              i.fa.fa-steam(aria-hidden="true")
              span @ahaurw01

            a.social.social-row(href="http://starwars.wikia.com/wiki/Alliance_to_Restore_the_Republic")
              i.fa.fa-ra(aria-hidden="true")
              span @ahaurw01

            a.social.social-row(href="https://angel.co/aaron-haurwitz")
              i.fa.fa-angellist(aria-hidden="true")
              span Aaron Haurwitz

            a.social.social-row(href="https://www.linkedin.com/in/aaronhaurwitz")
              i.fa.fa-linkedin(aria-hidden="true")
              span Aaron Haurwitz

        .col-md-12
          a.social(href="https://github.com/ahaurw01/haurwitz.com" title="...if you're into that kinda thing")
            | Fork this site

        .col-md-6.about-description
          p
            span Aaron Haurwitz is a software engineer. He works at
            span &nbsp;
            a(href="http://curiositymedia.com/") Curiosity Media
            span , creators of
            span &nbsp;
            a(href="https://pubnation.com") PubNation
            span &nbsp;
            span and
            span &nbsp;
            a(href="http://www.spanishdict.com/traductor") SpanishDict
            span , el traductor de inglés y español más fiable.


