{{view NotificationContainerView}}

<h1>Growl-like Notifications Demo</h1>
<h4>Try resizing the window while a bunch of notifications are visible.</h4>

<button type="button" id="create-notification-button" class="btn btn-primary" {{action "createNotification"}}>
  Notify me!
</button>