<i class="{{unbound view.iconType}} icon"></i>
<a class="close-notification" {{action "close" target="view"}}><i class="icon-remove"></i></a>
<strong>{{view.notification.title}}</strong>
<p>{{view.notification.message}}</p>