doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="styles.css")
    title Aaron Haurwitz
  body
    .title-hero
      ul.contact-menu
        li
          a(href="https://github.com/ahaurw01") GitHub
        li
          a(href="https://twitter.com/ahaurw01") Twitter
        li
          a(href="https://www.linkedin.com/in/aaronhaurwitz/") LinkedIn
      .avatar 
        img(src="/img/aaron.png")
      h1 Aaron Haurwitz
      h2 Software Engineer

    .content
      .card 
        .card-media
          img(src="/img/sd.png")
        .card-text
          h3 Daytime Work
          p 
            | I am a Principal Software Engineer at Curiosity Media. We build
            = ' '
            a(href="http://www.spanishdict.com") SpanishDict.com
            = ' '
            | to help people learn English and Spanish. 
            
      .card 
        .card-media
          img(src="/img/projects.png")
        .card-text
          h3 Weekend Projects
          p 
            a(href="https://whatsthatdo.haurwitz.com/") What's that do?
            = ' '
            | is a tool to look up lots of Magic cards in one view.
          p
            | I built a
            = ' '
            a(href="https://github.com/ahaurw01/haurwitz.com/blob/master/blog_posts/2017-06-10_rpi-swarm.md") Raspberry Pi cluster to run Docker Swarm.
          p
            | My
            = ' '
            a(href="https://imgur.com/gallery/vdGrE") homemade Lego subwoofer
            = ' '
            | keeps the party rocking in my home office.
            
      .card 
        .card-media
          img(src="/img/interests.jpg")
        .card-text
          h3 Interests
          p 
            | I enjoy cooking, running, building stuff, hanging out with the family, Magic: The Gathering, napping, traveling, and dad jokes. 
            
      .card 
        .card-media
          img(src="/img/gig.jpg")
        .card-text
          h3 Gigabyte
          p 
            | This is my cat, Gigabyte. She's great.
    
    script(src="blog-nav.js")
