<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="go-home">{{#linkTo 'posts'}}aaron haurwitz{{/linkTo}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 col-offset-1"><a href="https://twitter.com/ahaurw01">@ahaurw01</a></div>
        <div class="col-lg-6"><a href="https://github.com/ahaurw01/haurwitz.com" title="...if you're into that kinda thing">Fork this site</a></div>
      </div>
    </div>
    <div class="col-lg-6">
      {{yield}}
    </div>
  </div>
</div>