<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <h1 class="go-home">{{#link-to 'posts'}}aaron haurwitz{{/link-to}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-offset-1"><a class="social" href="/about">About</a></div>
        <div class="col-md-6 social"><a class="social" href="https://github.com/ahaurw01/haurwitz.com" title="...if you're into that kinda thing">Fork this site</a></div>
      </div>
    </div>
    <div class="col-md-6">
      {{yield}}
    </div>
  </div>
</div>
